<div id="dashboard_order_listing">
  <div class="animated fadeInUp">
    <div class="row">

      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Order Requests</h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
              <a class="close-link">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <table class="table table-hover no-margins">
              <thead>
              <tr>
                <th>Sr. no</th>
                <th>Date</th>
                <th>Order ID#</th>
                <th>User Name</th>
                <th>User email</th>
                <th>User mobile#</th>
                <th>Deal Name</th>
              </tr>
              </thead>
              <tbody>

              <%#= will_paginate @order_requests ,:class=>"pagination pull-right" %>

              <% @order_requests.each_with_index do |order_request,index| %>
                  <tr>
                    <td><%=index%></td>
                    <td><i class="fa fa-clock-o"></i> <%= order_request.created_at.strftime('%d/%m/%Y %I:%M%p') %></td>
                    <td><span class="label label-warning"><%= link_to "#{order_request.order_id}",edit_user_order_path(order_request.id) %></span></td>
                    <td>
                      <%user_details=AppUser.find(order_request.app_user_id) if AppUser.exists?(order_request.app_user_id)%>
                        <% if user_details.first_name.present? and user_details.last_name.present?%>
                        <%name= (user_details.first_name.strip+ " "+  user_details.last_name.strip).truncate(10) %>
                        <%else%>
                        <%name="NA"%>
                        <%end%>
                        <%=name%>
                      </td>
                    <td><%=user_details.email%></td>
                    <td><%=user_details.mobile%></td>
                    <td><%=order_request.deal_id.present? ? Deal.find(order_request.deal_id) : "NILL" %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Pending Orders(<%=@pending_orders.count%>)</h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
              <a class="close-link">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <table class="table table-hover no-margins">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Order ID#</th>
                  <th>User email</th>
                </tr>
              </thead>
              <tbody>
              <% @pending_orders.each_with_index do |pending_order,index| %>
              <tr>
                <td><i class="fa fa-clock-o"></i> <%= pending_order.created_at.strftime('%d/%m/%Y %I:%M%p') %></td>
                <td><span class="label label-warning"><%= link_to "#{pending_order.order_id}","/order_status?id=#{pending_order.order_id}" %></span></td>
                <%user_details=AppUser.find(pending_order.app_user_id) if AppUser.exists?(pending_order.app_user_id)%>
                <td><%=user_details.email%></td>
              </tr>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Completed Orders(<%=@completed_orders.count%>)</h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
              <a class="close-link">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <table class="table table-hover no-margins">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Order ID#</th>
                  <th>User email</th>
                </tr>
              </thead>
              <tbody>
              <% @completed_orders.each_with_index do |completed_orders,index| %>
              <tr>
                <td><i class="fa fa-clock-o"></i> <%= completed_orders.created_at.strftime('%d/%m/%Y %I:%M%p') %></td>
                <td><span class="label label-warning"><%= link_to "#{completed_orders.order_id}","/order_status?id=#{completed_orders.order_id}" %></span></td>
                <%user_details=AppUser.find(completed_orders.app_user_id) if AppUser.exists?(completed_orders.app_user_id)%>
                <td><%=user_details.email%></td>
              </tr>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
