 <div id="dashboard_order_listing">
  <div class="animated fadeInUp">
    <div class="row">

      <div class="col-lg-12">
        <div class="row">

          <div class="col-lg-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Order Placed</h5>
                <div class="ibox-tools">
                  <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                  <a class="close-link">
                    <i class="fa fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="ibox-content">
                <%= will_paginate @orders, :container => true, renderer: BootstrapPagination::Rails, :class=>"pagination pull-right" %>
                <table class="table table-hover no-margins">
                  <thead>
                  <tr>
                    <th>Order Number</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status<th>
                   </tr>
                  </thead>
                  <tbody>
                  <% @orders.each do |order| %>
                      <tr>
                        <td>
                          <%=order.order_id%>
                        </td>
                        <td>
                          <i class="fa fa-clock-o"></i> <%= order.created_at.strftime('%d/%m/%Y %I:%M%p') %>
                        </td>
                        <td><%= order.deal_price.present? ? "$"+ order.deal_price.to_s : "$0" %></td>
                        <% if order.status == "In-progress" %>
                            <td>
                              <span class="label label-danger">In Progress</span>
                            </td>
                        <% elsif order.status == Order::COMPLETED %>
                            <td>
                              <span class="label label-danger">Completed</span>
                          </td>
                          <% elsif order.status == Order::NEW_ORDER %>
                              <td>
                                <span class="label label-success">New Order</span>
                            </td>
                            <%else%>
                            <td>
                              <span class="label label-success"><%=order.status%></span>
                            </td>
                        <% end %>

                      </tr>
                  <% end %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>User Registered(<%=@user_registered.count%>)</h5>
                <div class="ibox-tools">
                  <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                  <a class="close-link">
                    <i class="fa fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="ibox-content">
                <table class="table table-hover no-margins">
                  <thead>
                  <tr>
                    <th>User Name</th>
                    <th>Date</th>
                    <th>Contact</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @user_registered.each do |user| %>
                      <tr>
                        <td>
                          <% user_name = user.first_name.present? ? decode_api_data(truncate(user.first_name,:length => 20)) : '' %>
                          <span class="label label-warning"><%= link_to user_name,edit_user_user_path(user),:style => 'color: white;' %></span>
                        </td>
                        <td>
                          <i class="fa fa-clock-o"></i> <%= user.created_at.strftime('%d/%m/%Y %I:%M%p') %>
                        </td>
                        <td title="<%= user.email %>"><%= decode_api_data(user.mobile)%></td>
                      </tr>
                  <% end %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
