 <div class="col-sm-6 b-r tab-pane " id="b" >
              <label style="width: 41%;">First Name*</label>
              <label>Last Name*</label>
              <div class="input-group m-b ">
                <%= f.text_field :first_name,:value => '',:name=>"app_user[first_name]",:class => 'form-control',:placeholder => "Enter First Name",:maxlength => 150,:style => "width: 50%;" %>
                <%#= f.hidden_field :id,:value => @user.id %>
                <%= f.text_field :last_name,:value =>'',:name=>"app_user[last_name]",:class => 'form-control',:placeholder => "Enter Last Name",:maxlength => 150,:style => "width: 50%;" %>
              </div>
              <div class="form-group ">
                <label>Email*</label>
                <%= f.email_field :email,:value =>'',:name=>"app_user[email]",:class => 'form-control',:placeholder => "Enter Email",:maxlength => 150, readonly: true%>
              </div>
              <div class="form-group ">
                <label>Mobile*</label>
                <%= f.text_field :mobile,:value => '',:name=>"app_user[mobile]",:class => 'form-control',:placeholder => "Enter Mobile Number",:maxlength => 11 %>
              </div>
              <div class="form-group ">
                <label>Primary Id*</label>
                <%#= f.text_field :primary_id,:name=>"order[primary_id]",:value => '',:class => 'form-control',:placeholder => "Enter Primary Id",:maxlength => 150 %>
                <%= select_tag(:primary_id,options_for_select( AppUser::PRIMARY_ID),:class => 'form-control',:prompt => 'Please Select ID Type',:name=>"order[primary_id]",:style => "width: 100%;", id: "order_primary_id") %> 
              </div>
              <div class="form-group ">
                <label>Primary Id Number</label>
                <%= f.text_field :primary_id_number,:value => '',:name=>"order[primary_id_number]",:class => 'form-control',:placeholder => "Enter Primary Id Number",:maxlength => 150 %>
              </div>
              <div class="form-group ">
                <label>Secondary Id*</label>
                <%#= f.text_field :secondary_id,:value => '',:class => 'form-control',:name=>"order[secondary_id]",:placeholder => "Enter Secondary Id",:maxlength => 150 %>
                 <%= select_tag(:secondary_id,options_for_select( AppUser::SECONDARY_ID),:class => 'form-control',:prompt => 'Please Select ID Type',:name=>"order[secondary_id]",:style => "width: 100%;", id: "order_secondary_id" )%> 
              </div>
              <div class="form-group ">
                <label>Secondary Id Number</label>
                <%= f.text_field :secondary_id_number,:value => '',:name=>"order[secondary_id_number]",:class => 'form-control',:placeholder => "Enter Secondary Id Number",:maxlength => 150 %>
              </div>
              
              <%#= hidden_field_tag :deal_id,,{:name=> 'order_items[deal_id]'}%>
              <%#= hidden_field_tag :status,'new_order',{:name=> 'order_items[status]'}%>
              <%#= hidden_field_tag :deal_price,20,{:name=> 'order_items[deal_price]'}%>
              <%#= hidden_field_tag :effective_price,40,{:name=> 'order_items[effective_price]'}%>
            </div>