<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Add Client Meeting</h2>
    <%= render :partial => "shared/breadcrumb", :locals => {:breadcrumb => @breadcrumb}%>
  </div>
  <div class="col-lg-2">

  </div>
</div>


<div class="animated fadeInUp row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Client Deals/Client Spoc Details</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <%=form_tag  admin_leads_path,:class=>"form-horizontal",:id=>"lead_creation_form", method: "post" do %>
        <%=hidden_field_tag :id,"",:name=>"lead[id]"%>
        <%=hidden_field_tag :user_id,current_user.id,:name=>"lead[user_id]"%>

        <div class="row">
          <div class="col-md-6">
            <h4>Add Client Details</h4>
            <div class="form-group">
              <div class="col-md-12">  <%= text_field_tag :lead_name,"",:placeholder => 'Lead name',:name => 'lead[lead_name]', :class => "form-control" %></div>
            </div>

            <div class="form-group">
              <div class="col-md-12">  <%= select_tag :type,options_for_select([["Residence","residence"],["Business","business"]]),:name => 'lead[lead_type]', :class => "form-control", :prompt => "-Select Type-", :onchange =>"show_business_name(this)" %></div>
            </div>

            <div class="form-group">
              <div class="col-md-12">  <%= number_field_tag :lead_contact_number,"",:placeholder => 'lead contact number',:name => 'lead[lead_contact_number]', :class => "form-control",:maxlength => "10" %></div>
            </div>


            <div class="form-group">
              <div class="col-md-12">  <%= email_field_tag :lead_email,"",:placeholder => 'Lead Email',:name => 'lead[lead_email]', :class => "form-control" %></div>
            </div>

          <div class="form-group">
            <div class="col-md-12">  <%= select_tag :lead_location,options_for_select(Statelist.pluck(:state)),:name => 'lead[lead_location]', :class => "form-control", :prompt => "-Select state-"  %></div>
          </div>


          <div class="form-group">
          <div class="col-md-12">  <%= text_field_tag :lead_address,"",:placeholder => 'lead address',:name => 'lead[lead_address]', :class => "form-control" %></div>
          </div>

          <div class="form-group">
          <div class="col-md-12">  <%= text_area_tag :lead_response,"",:placeholder => 'lead response',:name => 'lead[lead_response]', :class => "form-control" %></div>
          </div>


          <div class="form-group">
          <div class="col-md-12">  <%= text_field_tag :business_name,"",:placeholder => 'Business Name',:name => 'lead[business_name]', :class => "form-control hidden" %></div>
          </div>

          </div>
          <div class="col-md-6">
            <h4>Add Client Spoc Details</h4>
          <div class="form-group">
            <div class="col-md-12">  <%= text_field_tag :lead_spoc_name,"",:placeholder => 'lead spoc name',:name => 'lead[lead_spoc_name]', :class => "form-control" %></div>
          </div>

          <div class="form-group">
            <div class="col-md-12">  <%= email_field_tag :lead_spoc_email,"",:placeholder => 'lead spoc email',:name => 'lead[lead_spoc_email]', :class => "form-control" %></div>
          </div>

          <div class="form-group">
            <div class="col-md-12">  <%= number_field_tag :lead_spoc_number,"",:placeholder => 'lead spoc number',:name => 'lead[lead_spoc_number]', :class => "form-control", :maxlength => "10" %></div>
          </div>

          <div class="form-group">
          <div class="col-md-12">  <%= text_field_tag :lead_spoc_designation,"",:placeholder => 'lead spoc designation',:name => 'lead[lead_spoc_designation]', :class => "form-control" %></div>
          </div>


          <div class="form-group">
            <div class="col-md-12">  <%= select_tag :status,options_for_select(Lead::MEETING_STATUSES.each_with_index.map {|name, index| [name,((index+1)*10)]}),:name => 'lead[status]',:prompt =>"-Select Status-", :class => "form-control" %></div>
          </div>

          <div class="form-group">
            <div class="col-md-12">  <%= text_field_tag :demo_time,DateTime.now,:placeholder => 'demo_time',:name => 'lead[demo_time]', :class => "form-control" %></div>
          </div>

          <div class="form-group">
            <div class="col-md-12">   <%= select_tag :service_category_id,options_for_select([["Internet",1],["Telephone",2],["Cable",3],["Cellphone",4],["Bundle",5]]),:name => 'lead[service_category_id]', :class => "form-control", :prompt => "-Select Category-" %></div>
          </div>


          <div class="form-group">
            <div class="col-md-12">   <%= select_tag :deal_id,options_for_select(Deal.pluck(:title,:id)),:name => 'lead[deal_id]', :class => "form-control chosen-select", :prompt => "-Select Deal-" %></div>
          </div>

          <div class="form-group">
            <div class="col-md-12">  <%= text_area_tag :lead_description,"",:placeholder => 'Description',:name => 'lead[lead_description]', :class => "form-control" %></div>
          </div>
          </div>
        </div>


        <%= submit_tag 'Submit', :class => "btn btn-block btn-outline btn-primary" %>
        <p class="alert alert-danger hidden" id="error-msg"></p>
        <% end %>

      </div>

    </div>
  </div>
</div>



    <script>
    function show_create_lead_form(){
      $("#deal_id").chosen();
      $("#createleadModal").modal("show");
      $("#deal_id_chosen").css("width","100%");
      $("#lead_location").chosen();
    }
    function edit_lead_popup(id){
      $("#deal_id_chosen").css("width","100%");
      response = $("#"+id+"_spoc_response").text();
      status = $("#"+id+"_spoc_status").text();
      $("#edit_lead_id").val(id);
      switch(status) {
        case "INFO GATHERED": value =10 ;break;
        case "APPROCHED": value = 20 ;break;
        case "MEETING FIXED": value =30 ;break;
        case "DEMO COMPLETED": value =40 ;break;
        case "IN PIPELINE": value = 50 ;break;
        case "SIGNUP DONE": value = 60 ;break;
        case "DATA RECIEVED": value = 70 ;break;
        case "NOT INTERESTED": value = 80;break;
        case "USING ANOTHER SYSTEM": value = 90 ;break;
        case "SUCCESSFULLY COMPLETED": value = 100;break;
      }

      $("#edit_response").val(response);
      $("#edit_status option[value="+value+"]").prop("selected","selected");
      console.log(response);
      $("#updateleadModal").modal("show");
    }

    function show_business_name(val)
    {
      if($("#type option:selected").prop("value") == "business") {
        $("#business_name").removeClass("hidden");
      }
      else {
        $("#business_name").addClass("hidden");
      }
    }
    </script>
