<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Sales Executive</h2>
    <%= render :partial => "shared/breadcrumb", :locals => {:breadcrumb => @breadcrumb}%>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="animated fadeInUp">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Sales Executive</h5>
          <div class="ibox-tools">
            <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
          </div>
        </div>

        <div class="ibox-content m-b-sm border-bottom">
          <div class="row">
            <%= form_for @search, :as => 'search', :url => sales_executive_sales_executives_path, :html => {:method => :get} do |f| %>
                <%= render :partial=>'shared/search', :locals => {:f => f, :add_url => admin_deals_path,:cancel_url => sales_executive_sales_executives_path, :filter => [:name,:email,:sales_executive_status]}%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeInUp ibox ibox-title float-e-margins">
  <div class="ibox-tools">
    <%=link_to "Create New Sales Executive Profile","#", :class=>"btn btn-w-m btn-primary", :onclick =>"add_new_sales_executive_form()"%>
  </div>
</div>

<div class="animated fadeInUp row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Sales Executive(<%=@sales_excecutives.count%>)</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <%= will_paginate @sales_excecutives, :container => true, renderer: BootstrapPagination::Rails, :class=>"pagination pull-right" %>
        <table class="table table-hover no-margins table-responsive">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>

          <%@sales_excecutives.each do |se|%>
              <tr>
                <td><%= se.id%></td>
                <td id="<%=se.id%>_name"><%=se.name%></td>
                <td id="<%=se.id%>_email"><%=se.email%></td>
                <td id="<%=se.id%>_enabled"><%= select_tag :status, options_for_select(SalesExecutive::PROFILE_STATUS,se.status), :class =>"form-control",:id=>"#{se.id}_enabled", :onchange =>"show_change_btn(#{se.id})"%></td>
                <td>
                  <table>
                    <tr>
                      <td><p class="btn btn-outline btn-success" title="reset password" onclick="reset_password(<%=se.id%>)"><i class="fa fa-refresh"></i></p></td>
                      <td class="hidden" id="check_<%=se.id%>"><p title="update status" class="btn btn-outline btn-success" onclick="update_enabled_status(<%=se.id%>)"><i class="fa fa-check"></i></p></td>
                      <td><p class="btn btn-outline btn-success" title="edit" onclick="edit_sales_executive_profile(<%=se.id%>)"><i class="fa fa-edit"></i></p></td>
                    </tr>
                  </table>
                </td>
              </tr>

          <%end%>
          </thead>
        </table>
      </div>

    </div>
  </div>
</div>

<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content animated flipInY">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create Sales executive profile</h4>
        <small class="font-bold">Password will be auto generated and mailed to the executive's profile</small>
      </div>

      <div class="ibox-content">
        <%=form_for @new_sales_executive, :url => sales_executive_sales_executives_path, method: "post", :class => "form", :id => 'create_sales_executive' do |f| %>
            <div class="row">
              <table class="table table-hover no-margins">
                <tr>
                  <td>
                    <div class="col-md-12">  <%= f.text_field :name,:placeholder => 'Name',:class => "form-control" %></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="col-md-12">  <%= f.text_field :email,:placeholder => 'Email', :class => "form-control"%></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="col-md-12">  <%= f.select :status,options_for_select(SalesExecutive::PROFILE_STATUS,1),{},:class => "form-control"%></div>
                  </td>
                </tr>
              </table>
            </div>

            <%= submit_tag 'Submit', :class => "btn btn-block btn-outline btn-primary", :id => 'create_sales_executive_button' %>
            <p class="alert alert-danger hidden" id="error-msg"></p>
        <% end %>

      </div>

    </div>
  </div>
</div>


<script>
    function edit_sales_executive_profile(id) {
        console.log(id);
        $("#sales_executive_id").val(id);
        $("#sales_executive_name").val($("#"+id+"_name").text());
        $("#sales_executive_email").val($("#"+id+"_email").text());
        $("#sales_executive_enabled").hide();
        $("#myModal2").modal("show");
    }
    function add_new_sales_executive_form() {
        $("#sales_executive_name").val("");
        $("#sales_executive_email").val("");
        $("#sales_executive_enabled").show();
        $("#myModal2").modal("show");
    }
    function show_change_btn(id){
        $("#check_"+id).removeClass("hidden");
    }
    function update_enabled_status(id){
        console.log("Row="+id);
        console.log("Status="+$("#"+id+"_enabled option:selected").prop("value"));
        $.ajax({
            url: "<%=update_enabled_status_sales_executive_sales_executives_path%>",
            type: "get",
            data: {
                id:id,
                status:$("#"+id+"_enabled option:selected").prop("value")
            },
            success: function(response){
                if(response["updated"] == true){
                    toastr["success"]("Successfully Updated!")
                    location.reload();
                }
            }
        });
    }
    function reset_password(id){
        $.ajax({
            url: "<%=reset_password_sales_executive_sales_executives_path%>",
            type: "get",
            data: {
                id:id,
            },
            success: function(response){
                if(response["updated"] == true){
                    toastr["success"]("Password reset successfully ")
                    location.reload();
                }
            }
        });
    }

    $("#create_sales_executive_button").on('click', function (e) {
        var is_valid = true;
        e.preventDefault();
        if ($("#sales_executive_name").val() == "" || $("#sales_executive_name").val() == null) {
            is_valid = false;
            $("#sales_executive_name").addClass('error');
        }
        if ($("#sales_executive_email").val() == "" || $("#sales_executive_email").val() == null) {
            is_valid = false;
            $("#sales_executive_email").addClass('error');
        }
        if(is_valid){
            $('#create_sales_executive').submit();
        }else{
            return false;
        }
    });
</script>
