<div class="footer-box2">
  <div class="copy">
    <strong>Copyright</strong> <%= Date.today.strftime('%Y') %> - <%= (Date.today + 1.year).strftime('%Y') %> <a href="<%= root_url %>">Service Deals</a> Company &copy; All Rights Reserved.
    &nbsp;&nbsp;&nbsp;&nbsp;For Support Email to :
    <a href="mailto:<%= APP_CONFIG[:contact_email] %>?Subject=Hello%20Service Deals%20Team" target="_top"><%= APP_CONFIG[:contact_email] %></a>
  </div>

  <ul class="social">
    <li class="fb"><a href="" target="_blank"></a></li>
    <li class="ln"><a href="" target="_blank"></a></li>
    <li class="tr"><a href="" target="_blank"></a></li>
    <li class="yt"><a href="" target="_blank"></a></li>
    <li class="andr"><a href="" target="_blank"></a></li>
    <!--
    <li class="andr"><a href="#"></a></li>
    <li class="gplus"><a href="#"></a></li>


    -->
  </ul>
  <div class="clr"></div>
</div>