<div class="partners">

	
  <h2 class="white-title partner-title"></h2>
<!--  
  <ul>
    <li>
      <%= image_tag 'home/client-logo1.jpg' %>
    </li>
    <li>
      <%= image_tag 'home/client-logo1.jpg' %>
    </li>
    <li>
      <%= image_tag 'home/client-logo1.jpg' %>
    </li>
    <li>
      <%= image_tag 'home/client-logo1.jpg' %>
    </li>
    <li>
      <%= image_tag 'home/client-logo1.jpg' %>
    </li>
  </ul>
-->  
</div>