
  <!-- Banner starts -->
  <%= render :partial => 'home/home_banner' %>
  <!-- Banner ends -->

  <!-- Features starts -->
  <%= render :partial => 'home/features' %>
  <!-- Features ends -->
  <div class="clr"></div>

  <!-- Popular Products starts -->
  <%= render :partial => 'home/popular_items' %>
  <!-- Popular Products ends -->

  <!-- Dark box starts -->
  <%= render :partial => 'home/video_block' %>
  <!-- Dark box ends -->

  <!-- Testimonial starts -->
  <%= render :partial => 'home/testimonial' %>
  <!-- Testimonial ends -->

  <!-- Partners starts -->
  <%#= render :partial => 'home/partners' %>
  <!-- Partners ends -->


