<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Users</h2>
    <%= render :partial => "shared/breadcrumb", :locals => {:breadcrumb => @breadcrumb}%>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">


  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Search Users</h5>
          <div class="ibox-tools">
            <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
          </div>
        </div>

        <div class="ibox-content m-b-sm border-bottom">
          <div class="row">
            <%= form_for @search, :as => 'search', :url => user_users_path, :html => {:method => :get} do |f| %>
                <%= render :partial=>'shared/search', :locals => {:f => f, :add_url => new_user_user_path,:cancel_url => user_users_path, :filter => [:first_name,:mobile,:email,:user_type]}%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>User Lists</h5>
          <div class="ibox-tools">
            <%= link_to 'Create New User',new_user_user_path, :class => "btn btn-w-m btn-primary", :title => "Click here to create new User", "data-toggle" => "modal", "data-target" => "#myModal2"%>
          </div>

        </div>
        <div class="ibox-content">
          <%= render :partial => "shared/dpl_notifier"%>
          <%=will_paginate @users, :container => true, renderer: BootstrapPagination::Rails, :class=>"pagination pull-right" %>
          <% if @users.present? %>
              <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                <thead>
                <tr>

                  <th data-toggle="true">User Type</th>
                  <th data-hide="all">Name</th>
                  <th data-hide="phone">Mobile</th>
                  <th data-hide="phone">Email</th>
                  <th data-hide="phone">Created At</th>
                  <th class="text-right" data-sort-ignore="true">Action</th>

                </tr>
                </thead>
                <tbody>
                <% @users.each do |user| %>
                    <tr>
                      <td>
                        <%= user.user_type %>
                      </td>
                      <td>
                        <%= link_to "#{decode_api_data(user.first_name)} #{decode_api_data(user.last_name)}",edit_user_user_path(user) %>
                      </td>

                      <td>
                        <%= decode_api_data(user.mobile) %>
                      </td>
                      <td>
                        <%= user.email %>
                      </td>
                      <td>
                        <%= user.created_at.strftime('%d-%m-%Y %H:%M:%S') %>
                      </td>
                      <td class="text-right">
                        <div class="btn-group">
                          <%= link_to 'Edit',edit_user_user_path(user),:class => 'btn-white btn btn-xs' %>
                          <%#= link_to("Destroy",lab_lab_order_path(tc), method: :delete,:class => 'btn-white btn btn-xs') %>
                        </div>
                      </td>
                    </tr>
                <% end %>
                </tbody>
                <tfoot>
                <tr>
                  <td colspan="6">
                    <ul class="pagination pull-right"></ul>
                  </td>
                </tr>
                </tfoot>
              </table>
          <% else %>
              <div class="alert alert-danger" style="text-align: center;"> No User Added Yet</div>
          <% end %>

        </div>
      </div>
    </div>
  </div>


</div>

<!--  modal box to request admin for new test -->
<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content animated flipInY">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Register User</h4>
        <small class="font-bold">Registering a new user is very simple.</small>
      </div>

      <%= form_tag user_users_path do %>
          <div class="modal-body">
            First Name : <input type="text" name="app_user[first_name]" value="" required class="form-control">
            Last Name : <input type="text" name="app_user[last_name]" value="" required class="form-control">
            Email : <input type="email" name="app_user[email]" value="" required class="form-control">
            User Type : <%= select_tag(:user_type, options_for_select(AppUser::USER_TYPES), { :include_blank => "-Select-",:class => 'form-control', :name=> "app_user[user_type]" , required: true})%>
            Mobile : <input type="text" name="app_user[mobile]" value="" required class="form-control">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary">
          </div>
      <% end %>

    </div>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">


        $(function() {

            $('.footable').footable();

        });

    </script>

<% end %>
