<tr>
  <td style="padding:0 0 10px">
    <h3>Dear <%= @user.prefix %> <%= @user.first_name %> <%= @user.last_name %>, </h3>
  </td>
</tr>
<tr>
  <td style="padding:0 0 20px">
    We have received your request to reset password. Please <a href="<%= APP_CONFIG[:main_url] %>/user/users/<%= @token %>/reset_password">click here </a>to reset password.
  </td>
</tr>