
<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <%if params[:action] == "edit_deal_attribute"%>
        <h5>Edit Deal Attribute  </h5>
        <%else%>
        <h5>Add New Deal Attribute  </h5>
        <%end%>
        <div class="ibox-tools <%= 'hidden' if params[:action] == 'edit_deal_attribute'%>">
          <%= button_to 'View All Deal Attributes',view_all_deal_attributes_admin_deals_path(deal_id:@deal.id,category:@category_name),:method =>"post", :class => "btn btn-w-m btn-primary"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ibox float-e-margins">
  <div class="ibox-content">
<%= form_tag update_deal_attributes_admin_deals_path, method: "post", :class=>"form-horizontal" do %>
    <%= hidden_field_tag :deal_id,@deal_id,:name => 'deal_attributes[deal_id]' %>
    <%= hidden_field_tag :category_name,@category_name %>
    <%= hidden_field_tag :attribute_id, @deal_attribute.id,:name => 'deal_attributes[id]' %>

  <div class="form-group">
    <label class="col-sm-2 control-label">Bundle Combo:<span id="mandat">*</span> </label>
    <div class="col-md-10"><%= select_tag :bundle_combo, options_for_select(['Internet,Telephone and Cable','Internet and Telephone','Internet and Cable','Telephone and Cable'].map{|o| [o,o] },@deal_attribute.bundle_combo),:name => 'deal_attributes[bundle_combo]', :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <label  class="col-sm-2 control-label">Description:</label>
    <div class="col-md-10">  <%= text_field_tag :description,@deal_attribute.try(:description),:placeholder => 'Input description',:name => 'deal_attributes[description]', :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Download(mbps):<span id="mandat">*</span> </label>
    <div class="col-md-10"><%= text_field_tag :download,@deal_attribute.download,:placeholder => 'Input download',:name => 'deal_attributes[download]', :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <label  class="col-sm-2 control-label">Upload(mbps):<span id="mandat">*</span> </label>
    <div class="col-md-10">  <%= text_field_tag :upload,@deal_attribute.upload,:placeholder => 'Input upload',:name => 'deal_attributes[upload]', :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Data:<span id="mandat">*</span> </label>
    <div class="col-md-10">  <%= text_field_tag :data,@deal_attribute.data,:placeholder => 'Input data',:name => 'deal_attributes[data]', :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Static IP:<span id="mandat">*</span> </label>
    <div class="col-md-10"><%= text_field_tag :static_ip,@deal_attribute.static_ip,:placeholder => 'Input static_ip',:name => 'deal_attributes[static_ip]', :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Domestic Call Mins:<span id="mandat">*</span> </label>
    <div class="col-md-10">  <%= text_field_tag :domestic_call_minutes,@deal_attribute.domestic_call_minutes,:placeholder => 'Input domestic_call_minutes',:name => 'deal_attributes[domestic_call_minutes]', :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">International Call Mins:<span id="mandat">*</span> </label>
    <div class="col-md-10">  <%= text_field_tag :international_call_minutes,@deal_attribute.international_call_minutes,:placeholder => 'Input international_call_minutes',:name => 'deal_attributes[international_call_minutes]', :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Free Channels:<span id="mandat">*</span> </label>
    <div class="col-md-10">  <%= text_field_tag :free_channels,@deal_attribute.free_channels,:placeholder => 'Input free_channels',:name => 'deal_attributes[free_channels]', :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Free channels list (comma separated):<span id="mandat">*</span> </label>
    <div class="col-md-10">  <%= text_field_tag :free_channels_list,@deal_attribute.free_channels_list,:placeholder => 'Input free_channels_list',:name => 'deal_attributes[free_channels_list]', :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Premium Channels:<span id="mandat">*</span> </label>
    <div class="col-md-10">  <%= text_field_tag :premium_channels,@deal_attribute.premium_channels,:placeholder => 'Input premium_channels',:name => 'deal_attributes[premium_channels]', :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Premium channels list (comma separated):<span id="mandat">*</span> </label>
    <div class="col-md-10">  <%= text_field_tag :premium_channels_list,@deal_attribute.premium_channels_list,:placeholder => 'Input premium_channels_list',:name => 'deal_attributes[premium_channels_list]', :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">HD Channels:<span id="mandat">*</span> </label>
    <div class="col-md-10">  <%= text_field_tag :hd_channels,@deal_attribute.hd_channels,:placeholder => 'Input hd_channels',:name => 'deal_attributes[hd_channels]', :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">HD Channels list (comma separated):<span id="mandat">*</span> </label>
    <div class="col-md-10"><%= text_field_tag :hd_channels_list,@deal_attribute.hd_channels_list,:placeholder => 'Input hd_channels_list',:name => 'deal_attributes[hd_channels_list]', :class => "form-control" %></div>
  </div>
    <%= submit_tag 'Submit', :class => "btn btn-primary" %>
<% end %>
</div>
</div>
