
<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <%if params[:action] == "edit_deal_attribute"%>
        <h5>Edit Deal Attribute  </h5>
        <%else%>
        <h5>Add New Deal Attribute  </h5>
        <%end%>
        <div class="ibox-tools <%= 'hidden' if params[:action] == 'edit_deal_attribute'%>">
          <%= button_to 'View All Deal Attributes',view_all_deal_attributes_admin_deals_path(deal_id:@deal.id,category:@category_name),:method =>"post", :class => "btn btn-w-m btn-primary"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ibox float-e-margins">
<div class="ibox-content">
<%= form_tag update_deal_attributes_admin_deals_path, :class =>"form-horizontal" ,method: "post" do %>
    <%= hidden_field_tag :category_name,@category_name %>
    <%= hidden_field_tag :deal_id, params[:deal_id],:name => 'deal_attributes[deal_id]' %>
    <%= hidden_field_tag :attribute_id,@deal_attribute.id,:name => 'deal_attributes[id]' %>
    <div class="form-group"><label class="col-md-2 control-label">Channel Lists:<span id="mandat">*</span> </label>
      <div class="col-md-10"><% channel_ids = @deal_attribute.channel_ids.present? ? eval(@deal_attribute.channel_ids) : '' %>
      <%service_provider_id=Deal.find(params[:deal_id]).service_provider_id%>
      <%= select_tag :channel_ids,options_for_select(Channel.where(:service_provider_id=>service_provider_id).pluck(:channel_name,:id)),:class => 'chosen-select', :style=>"width: 100%;",:multiple => true,:name => 'deal_attributes[channel_ids][]' %>
    </div>
    </div>

    <div class="form-group"><label class="col-md-2 control-label">Price:</label>
      <div class="col-md-10"><%= text_field_tag :amount,@deal_attribute.try(:amount),:placeholder => 'Input price',:name => 'deal_attributes[amount]', :class => "form-control" %></div>
    </div>

     <div class="form-group"><label class="col-md-2 control-label">Description:</label>
      <div class="col-md-10"><%= text_field_tag :description,@deal_attribute.try(:description),:placeholder => 'Input description',:name => 'deal_attributes[description]', :class => "form-control" %></div>
    </div>

    <div class="form-group"><label class="col-md-2 control-label">Free Channels:<span id="mandat">*</span> </label>
      <div class="col-md-10"><%= text_field_tag :free_channels,@deal_attribute.free_channels,:placeholder => 'Input free_channels',:name => 'deal_attributes[free_channels]', :class => "form-control" %></div>
    </div>

    <div class="form-group"><label class="col-md-2 control-label">Free channels list (comma separated):<span id="mandat">*</span> </label>
      <div class="col-md-10"><%= text_field_tag :free_channels_list,@deal_attribute.free_channels_list,:placeholder => 'Input free_channels_list',:name => 'deal_attributes[free_channels_list]', :class => "form-control" %></div>
    </div>
    <div class="form-group"><label class="col-md-2 control-label">Premium Channels:<span id="mandat">*</span> </label>
      <div class="col-md-10"><%= text_field_tag :premium_channels,@deal_attribute.premium_channels,:placeholder => 'Input premium_channels',:name => 'deal_attributes[premium_channels]', :class => "form-control" %></div>
    </div>
    <div class="form-group"><label class="col-md-2 control-label">Premium channels list (comma separated):<span id="mandat">*</span> </label>
      <div class="col-md-10"><%= text_field_tag :premium_channels_list,@deal_attribute.premium_channels_list,:placeholder => 'Input premium_channels_list',:name => 'deal_attributes[premium_channels_list]', :class => "form-control" %></div>
    </div>
    <div class="form-group"><label class="col-md-2 control-label">HD Channels:<span id="mandat">*</span> </label>
      <div class="col-md-10"><%= text_field_tag :hd_channels,@deal_attribute.hd_channels,:placeholder => 'Input hd_channels',:name => 'deal_attributes[hd_channels]', :class => "form-control" %></div>
    </div>
    <div class="form-group"><label class="col-md-2 control-label">HD Channels list (comma separated):<span id="mandat">*</span> </label>
      <div class="col-md-10"><%= text_field_tag :hd_channels_list,@deal_attribute.hd_channels_list,:placeholder => 'Input hd_channels_list',:name => 'deal_attributes[hd_channels_list]', :class => "form-control" %></div>
    </div>
    <%= submit_tag 'Submit' , :class => "btn btn-w-m btn-primary"%>
<% end %>
<script>
$("#chosen-select").chosen();
</script>
</div>
</div>
