
<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <%if params[:action] == "edit_deal_attribute"%>
        <h5>Edit Deal Attribute  </h5>
        <%else%>
        <h5>Add New Deal Attribute  </h5>
        <%end%>
        <div class="ibox-tools <%= 'hidden' if params[:action] == 'edit_deal_attribute'%>">
          <%= button_to 'View All Deal Attributes',view_all_deal_attributes_admin_deals_path(deal_id:@deal.id,category:@category_name),:method =>"post", :class => "btn btn-w-m btn-primary"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ibox float-e-margins">
  <div class="ibox-content">
<%= form_tag update_deal_attributes_admin_deals_path, :class =>"form-horizontal" ,method: "post" do %>

    <%= hidden_field_tag :deal_id,@deal_id,:name => 'deal_attributes[deal_id]' %>
    <%= hidden_field_tag :category_name,@category_name %>
    <%= hidden_field_tag :attribute_id, @deal_attribute.id,:name => 'deal_attributes[id]' %>

    <% if @deal.present? and @deal.is_customisable == false %>

    <div class="form-group">
        <label class="col-md-2 control-label">No of Lines:<span id="mandat">*</span> </label>
        <div class="col-md-10"><%= text_field_tag :no_of_lines,@deal_attribute.no_of_lines,:placeholder => 'Input no_of_lines',:name => 'deal_attributes[no_of_lines]', :class => "form-control" %></div>
      </div>
    <% end %>
    <div class="form-group">
      <label class="col-md-2 control-label">Price per Line:<span id="mandat">*</span> </label>
      <div class="col-md-10">  <%= text_field_tag :price_per_line,@deal_attribute.price_per_line,:placeholder => 'Input price_per_line',:name => 'deal_attributes[price_per_line]', :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Title:</label>
      <div class="col-md-10"><%= text_field_tag :title,@deal_attribute.try(:title),:placeholder => 'Input title',:name => 'deal_attributes[title]', :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Description:</label>
      <div class="col-md-10">  <%= text_field_tag :description,@deal_attribute.try(:description),:placeholder => 'Input description',:name => 'deal_attributes[description]', :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Domestic Call Mins:<span id="mandat">*</span> </label>
      <div class="col-md-10"><%= text_field_tag :domestic_call_minutes,@deal_attribute.domestic_call_minutes,:placeholder => 'Input domestic_call_minutes',:name => 'deal_attributes[domestic_call_minutes]', :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Domestic Text:<span id="mandat">*</span> </label>
      <div class="col-md-10">  <%= text_field_tag :domestic_text,@deal_attribute.domestic_text,:placeholder => 'Input domestic_text',:name => 'deal_attributes[domestic_text]', :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">International Call Minutes:<span id="mandat">*</span> </label>
      <div class="col-md-10">  <%= text_field_tag :international_call_minutes,@deal_attribute.international_call_minutes,:placeholder => 'Input international_call_minutes',:name => 'deal_attributes[international_call_minutes]', :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">International Text:<span id="mandat">*</span> </label>
      <div class="col-md-10">  <%= text_field_tag :international_text,@deal_attribute.international_text,:placeholder => 'Input international_text',:name => 'deal_attributes[international_text]', :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Data Plan:<span id="mandat">*</span> </label>
      <div class="col-md-10">  <%= text_field_tag :data_plan,@deal_attribute.data_plan,:placeholder => 'Input data_plan',:name => 'deal_attributes[data_plan]', :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Data Plan Price:<span id="mandat">*</span> </label>
      <div class="col-md-10">  <%= text_field_tag :data_plan_price,@deal_attribute.data_plan_price,:placeholder => 'Input data_plan_price',:name => 'deal_attributes[data_plan_price]', :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Additional Data:<span id="mandat">*</span> </label>
      <div class="col-md-10">  <%= text_field_tag :additional_data,@deal_attribute.additional_data,:placeholder => 'Input additional_data',:name => 'deal_attributes[additional_data]', :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Additional Data Price:<span id="mandat">*</span> </label>
      <div class="col-md-10"><%= text_field_tag :additional_data_price,@deal_attribute.additional_data_price,:placeholder => 'Input additional_data_price',:name => 'deal_attributes[additional_data_price]', :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Rollover Data:<span id="mandat">*</span> </label>
      <div class="col-md-10">  <%= check_box_tag :rollover_data,true,true,:name => 'deal_attributes[rollover_data]' %></div>
    </div>
    <%= submit_tag 'Submit', :class =>"btn btn-primary" %>
<% end %>
</div>
</div>
