<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Add New Deal Attribute </h5>
        <div class="ibox-tools <%= 'hidden' if params[:action] == 'edit_deal_attribute'%>">
          <%= button_to 'View All Deal Attributes',view_all_deal_attributes_admin_deals_path(deal_id:@deal.id,category:@category_name),:method =>"post", :class => "btn btn-w-m btn-primary"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ibox float-e-margins">
<div class="ibox-content">

<%= form_tag update_deal_attributes_admin_deals_path, :class=>"form-horizontal" ,method: "post" do %>
  <%if @deal.present?%>
      <%= hidden_field_tag :deal_id,@deal_id,:name => 'deal_attributes[deal_id]' %>
  <%end%>
    <%= hidden_field_tag :category_name,@category_name %>
    <%= hidden_field_tag :attribute_id, @deal_attribute.id,:name => 'deal_attributes[id]' %>

      <div class="form-group">
        <label class="col-sm-2 control-label">Description:</label>
        <div class="col-md-10"><%= text_field_tag(:description,@deal_attribute.description,:class=>"form-control",:placeholder=>"input description",:name=>"deal_attributes[description]")%></div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Domestic Call Mins:<span id="mandat">*</span> </label>
        <div class="col-md-10">  <%= text_field_tag :domestic_call_minutes,@deal_attribute.domestic_call_minutes,:class=>"form-control",:placeholder => 'Input domestic_call_minutes',:name => 'deal_attributes[domestic_call_minutes]' %></div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Domestic Receive Mins:<span id="mandat">*</span> </label>
        <div class="col-md-10"><%= text_field_tag :domestic_receive_minutes,@deal_attribute.domestic_receive_minutes,:class=>"form-control",:placeholder => 'Input domestic_receive_minutes',:name => 'deal_attributes[domestic_receive_minutes]' %></div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Domestic Additional Mins:<span id="mandat">*</span> </label>
        <div class="col-md-10"><%= text_field_tag :domestic_additional_minutes,@deal_attribute.domestic_additional_minutes,:class=>"form-control",:placeholder => 'Input domestic_additional_minutes',:name => 'deal_attributes[domestic_additional_minutes]' %></div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">International Call Mins:<span id="mandat">*</span> </label>
        <div class="col-md-10"> <%= text_field_tag :international_call_minutes,@deal_attribute.international_call_minutes,:class=>"form-control",:placeholder => 'Input international_call_minutes',:name => 'deal_attributes[international_call_minutes]' %></div>
      </div>

       <div class="form-group">
        <label class="col-sm-2 control-label">International Landline Mins:<span id="mandat">*</span> </label>
        <div class="col-md-10"><%= text_field_tag :international_landline_minutes,@deal_attribute.international_landline_minutes,:class=>"form-control",:placeholder => 'Input international_landline_minutes',:name => 'deal_attributes[international_landline_minutes]' %></div>
      </div>

       <div class="form-group">
        <label class="col-sm-2 control-label">International Mobile Mins:<span id="mandat">*</span> </label>
        <div class="col-md-10"><%= text_field_tag :international_mobile_minutes,@deal_attribute.international_mobile_minutes,:class=>"form-control",:placeholder => 'Input international_mobile_minutes',:name => 'deal_attributes[international_mobile_minutes]' %></div>
      </div>

       <div class="form-group">
        <label class="col-sm-2 control-label">International Additional Mins:<span id="mandat">*</span> </label>
        <div class="col-md-10"><%= text_field_tag :international_additional_minutes,@deal_attribute.international_additional_minutes,:class=>"form-control",:placeholder => 'Input international_additional_minutes',:name => 'deal_attributes[international_additional_minutes]' %></div>
      </div>

       <div class="form-group">
        <label class="col-sm-2 control-label">Country:<span id="mandat">*</span> </label>
        <div class="col-md-10">  <%= text_field_tag :countries,@deal_attribute.countries,:class=>"form-control",:placeholder => 'Input countries',:name => 'deal_attributes[countries]' %></div>
      </div>

       <div class="form-group">
        <label class="col-sm-2 control-label">Features:<span id="mandat">*</span> </label>
        <div class="col-md-10"><%= text_field_tag :features,@deal_attribute.features,:class=>"form-control",:placeholder => 'Input features',:name => 'deal_attributes[features]' %></div>
      </div>

    <%= submit_tag 'Submit', :class => "btn btn-primary" %>
<% end %>
</div>
</div>
