<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title>Service Deals | A digital connector among Doctor, Patient and Lab</title>
  <%= stylesheet_link_tag "home" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "chosen/chosen" %>
  <%= javascript_include_tag "jquery/jquery-2.1.1" %>
  <%= javascript_include_tag "chosen/chosen.jquery" %>
  <%= javascript_include_tag 'application' %>
  
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <%= favicon_link_tag(source='favicon.ico') %>
</head>

<body color="#f3f3f4">

<%= render :partial => "home/home_header" %>


<div class="page" id="search_result">
	<%= yield %>
	<%= render :partial => 'home/footer' %>
</div>
<%= render :partial => 'home/copyright' %>
<%# if Rails.env.production? %>
<%= render :partial => "layouts/google_analytics" %>
<%# end %>

</body>
</html>		

